<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <sessionState timeout="20">
    </sessionState>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
	<connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
		<EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
			<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
			<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
				<EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
					<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
					<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
						<KeyName>Rsa Key</KeyName>
					</KeyInfo>
					<CipherData>
						<CipherValue>Z7L8Vub420b/2iu0Jqj1oxSkvwfdjGBB3rf2hYNlN/d8VkB91VmavQRX665sM0e2R2dJrFmbjfRxxKBIMR43QAdY1+CDs2b+rcIjp+0aDbxfe3sS365OAS2+n7ZeOWPSxf0yS2e76txAsVGp3/Q1uFx2zaZoKSdE8p+RZSv6E+P/aLmkwEiPKSfTbEhKwqCBTwCqz2+pqLBeV6cEHl/UTDK30nG3i8ObcPV0Aw/hOc6T3YE2QFVlEW66MqfXwJcSkx/IBi/Fu8h8OHPrCgqPPLRu+xeuXEkchqyOJPPiCi6o3Tqnd2tkIevb2SmBWw/Zg5TG0H8UyM6RuXxlsKZzXQ==</CipherValue>
					</CipherData>
				</EncryptedKey>
			</KeyInfo>
			<CipherData>
				<CipherValue>dgJzkeF6jqm1RwSksuizRviev0pGWE70gxNuIgLHaZqo/gzyK2RHH3wSN1FbCsk+AMCd3fiEP6v/RpmKtWbD2nF+5Lj5wZmroy6qul0leM7/9Ow1/Ghlj7enw/ewBy2FbD6aGGjcCQMijrcshbNhbxYs6u7YmYEd3JZdwKy2251e13qFlXpv0FeTnwblhvc+BM7azoy/vqlkMiNE64iN1A3v/mVeJdNKY7lD1uBdAlaeWN3ffGrvqYMQ5t/cYM4qXUI3WM89wH3EmLOA9/ghfr+emPhV84vraJ8FZbqerbPCwLRMUmQYKyRhFtymTeLZL+xh4mtytIw4TgFuAGkdgtzEIXJQzi7lj9BvKyS+MznctBTkIbcjsymZJdG2xOqJ5E/eUVTM0Muxb/SIT7qL31X+KHENAfA3YAM6vdRSAu6+PQEzfWVLsiOg8DDJYRgOqgdbjy2fgMqvHakL4iwc6bNl29KFYs/u8sV1/dNfGKqvk0hRR5u8T9g5GEtblTK7+/sUWMc9U645TsdrJna3doijvCmwz6qVveFDQH0ldiMTHtk0R3H0StSONAz7lmnHs6PRKz/wUCFbHdHv/K4kyXakns+H9aDr9cHXwPZFNz/LIpmlgR1AIoTIWe0EZ8KYgLg1ctMnYcyvlwfu+nqn3tpuJ8lJJz0t6PUlr8BJSsY=</CipherValue>
			</CipherData>
		</EncryptedData>
	</connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>