@{
    ViewBag.Title = "About";
}
<!-- Content -->
<section>
    <header class="main">
        <h1>@ViewBag.Title</h1>
    </header>
    <!-- Content -->
    <h2 id="content">@ViewBag.Message</h2>
    <p>Use this area to provide additional information.</p>
</section>




    
