
@{
    ViewBag.Title = "OperacionNoAutorizada";
}
@{ /* Crear vista parcial LAYOUT PRINCIPAL --> MENU "Barra de la Izq" con acciones a realizar 
   Esto es un temporal !!!*/}
<h2>OperacionNoAutorizada</h2>
<section class="content-header">
    <h1>
        ERROR, NO TIENES PERMISO<br />
        OPERACION: @ViewBag.operacion<br />
        MODULO: @ViewBag.modulo<br />
        MSG: @ViewBag.msgErrorExcepcion
    </h1>
</section>
