
@{
    ViewBag.Title = "MantenimientoEditorial";
}
@Styles.Render("~/Assets/css/modifiedstyles.css")



<header id="header">
    <a href="#" class="logo"><strong>Mantenimiento de Editoriales</strong></a>
</header>

<section>
    <ul class="actions">
        <li><a href="#" onclick="getAgregarModal()" class="button">Registrar</a></li>
    </ul>
    <div class="table-wrapper">
        <table id="tableId">
            <thead>
                <tr>
                    <th>ID Editorial</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Fecha Registro</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</section>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tableId").DataTable({
                "ajax": {
                    "url": "/Mantenimiento/listarEditorial?edit="+0+"&&idEditorial="+0,
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "idEdito", "autowidth": true },
                    { "data": "nomEdito", "autowidth": true },
                    { "data": "direccion", "autowidth": true },
                    { "data": "telefono", "autowidth": true },

                    { "data": "fechaRegistro", "autowidth": true },

                    {
                        "data": "idEdito", "width": "50px", "render": function (data) {
                            return '<button onclick="getEditarModal(' + data +')">Editar</button>'
                        }
                    },
                    {
                        "data": "idEdito", "width": "50px", "render": function (data) {
                            return '<button onclick="getEliminarModal('+data+')">Eliminar</button>'
                        }
                    }
                ],
                "language": espaniol
            });
        });
        if ('@ViewBag.notification' != '') {
            Notification('@ViewBag.notification');
        }
      function getAgregarModal() {
                Swal.fire({
                    title: 'Agregar',
                    html: `
                            <div class="row gtr-uniform">
                                <div class="col-6 col-12-xsmall">
                                    <span>Editorial:</span>
                                    <input type="text" id="nomEdito" oninput="this.value = this.value.replace(/[^á-zÁ-Z0-9]/,'')" placeholder="Nom Editorial" />
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <span>Teléfono:</span>
                                    <input type="text" id="telefono" placeholder="Telefono" />
                                </div>
                                <div class="col-12">
                                    <span>Dirección:</span>
                                    <input type="text" id="direccion" placeholder="Direccion" />
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <span>Fecha de Registro:</span>
                                    <input class="form-date" type="date" id="fechaRegistro" />
                                </div>
                            </div>`,
                    confirmButtonText: 'Registrar',
                    showCancelButton: true,
                    preConfirm: () => {
                        let nomEdito = $("#nomEdito").val();
                        let direccion = $("#direccion").val();
                        let telefono = $("#telefono").val();
                        let fechaRegistro = $("#fechaRegistro").val();


                        const pregTele = /^[\(]?[\+]?(\d{2}|\d{3})[\)]?[\s]?((\d{6}|\d{8})|(\d{3}[\*\.\-\s]){3}|(\d{2}[\*\.\-\s]){4}|(\d{4}[\*\.\-\s]){2})|\d{8}|\d{10}|\d{12}$/;

                        const pregNomEdito = /^[A-Za-z\s]*$/;

                        if (nomEdito == '' || direccion == '' || telefono == '') {
                            return Swal.showValidationMessage(`Todos los campos son requeridos`)
                        } else {

                            if (!pregNomEdito.test(nomEdito)) {
                                return Swal.showValidationMessage(`Campo nombre editorial invalido,solo letras`)
                            }
                            if (direccion == '') {
                                return Swal.showValidationMessage(`Porfavor complete la dirección`);
                            }
                            if (!pregTele.test(telefono)) {
                                return Swal.showValidationMessage(`Campo telefono invalido`);
                            }
                            if (fechaRegistro == '') {
                                return Swal.showValidationMessage(`Porfavor seleccione la fecha`)
                            }
                        }

                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                        let nomEdito = $("#nomEdito").val();
                        let direccion = $("#direccion").val();
                        let telefono = $("#telefono").val();
                        let fechaRegistro = $("#fechaRegistro").val();

                        let message = "Se agrego correctamente";
                        Swal.fire({
                            title: 'Agregado!',
                            text: 'Nombre de Editorial: ' + nomEdito + ' | Dirección de Editorial: ' + direccion + 'Telefono de Editorial: ' + telefono +
                                'Fecha de Registro: ' + fechaRegistro,
                            icon: 'success',
                            allowOutsideClick: false
                        })
                        // Es solo estilo, tiene incompatiblidad con main.css
                        element[0].setAttribute("style", "height:2.5em !important; line-height: 0em !important; color: white !important; background-color: #008000 !important")
                        $(".swal2-confirm").click(function () {
                            $.ajax({
                                url: "/Mantenimiento/GuardarEditorial?nomEdito=" + nomEdito + "&&direccion=" + direccion + "&&telefono=" + telefono + "&&fechaRegistro=" + fechaRegistro,
                                success: function (r) {
                                    window.location = "/Mantenimiento/MantenimientoEditorial?notification=" + message;
                                }
                            })
                        })
                    }
                })
                let element = document.getElementsByClassName("swal2-styled")
                /* Alert Fix Styles */
                for (let i = 0; i < element.length; i++) {
                    if (element[i].getAttribute("style") == "display: none;") {
                    }
                    else {
                        element[i].setAttribute("style",
                            "height:2.5em !important; line-height: 0em !important; color: white !important")
                    }
                }
                element[0].setAttribute("style", "height:2.5em !important; line-height: 0em !important; color: white !important; background-color: #f56a6a !important")
            }

        function getEditarModal(idEdito) {
            let json = fetch("/Mantenimiento/listarEditorial?edit="+1+"&&idEditorial="+idEdito, {
                "headers": {
                    "accept": "*/*",
                    "content-type": "application/JSON",
                },
                "body": null,
                "method": "GET",
                "mode": "cors"
            }).then(resp => resp.json()).then(js => {
                response = js
                promiseEditar(response, idEdito)
            })
        }

        function promiseEditar(response, idEdito) {
            Swal.fire({
                title: 'Editar',
                html: `
                            <div class="row gtr-uniform">
                                 <div class="col-6 col-12-xsmall">
                                    <span>ID Editorial:</span>
                                    <input disabled="disabled" type="text" id="idEdito" value=${response.data[0].idEdito} placeholder="Id Editorial" />
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <span>Editorial:</span>
                                    <input type="text" id="nomEdito" placeholder="Nom Editorial" />
                                </div>
                                <div class="col-12">
                                    <span>Dirección:</span>
                                    <input type="text" id="direccion" placeholder="Direccion" />
                                </div>
                               <div class="col-6 col-12-xsmall">
                                    <span>Fecha de Registro:</span>
                                    <input class="form-date" type="date" id="fechaRegistro" value=${response.data[0].fechaRegistro} placeholder="Fecha Registro" />
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <span>Teléfono:</span>
                                    <input type="text" id="telefono" value=${response.data[0].telefono} placeholder="Telefono" />
                                </div>
                            </div>`,
                confirmButtonText: 'Actualizar',
                showCancelButton: true,
                preConfirm: () => {
                    let nomEdito = $("#nomEdito").val();
                    let direccion = $("#direccion").val();
                    let telefono = $("#telefono").val();
                    let fechaRegistro = $("#fechaRegistro").val();


                    const pregTele = /^[\(]?[\+]?(\d{2}|\d{3})[\)]?[\s]?((\d{6}|\d{8})|(\d{3}[\*\.\-\s]){3}|(\d{2}[\*\.\-\s]){4}|(\d{4}[\*\.\-\s]){2})|\d{8}|\d{10}|\d{12}$/;

                    const pregNomEdito = /^[A-Za-z\s]*$/;

                    if (nomEdito == '' || direccion == '' || telefono == '') {
                        return Swal.showValidationMessage(`Todos los campos son requeridos`)
                    } else {
                        if (!pregNomEdito.test(nomEdito)) {
                            return Swal.showValidationMessage(`Campo nombre editorial invalido, solo letras`)
                        }
                        if (direccion == '') {
                            return Swal.showValidationMessage(`Porfavor agrege la dirección`)
                        }
                        if (!pregTele.test(telefono)) {
                            return Swal.showValidationMessage(`Campo telefono invalido`);
                        }
                        if (fechaRegistro == '') {
                            return Swal.showValidationMessage(`Porfavor seleccione la fecha`)
                        }
                    }
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    let nomEdito = $("#nomEdito").val();
                    let direccion = $("#direccion").val();
                    let telefono = $("#telefono").val();
                    let fechaRegistro = $("#fechaRegistro").val();
                    let message = "Actualizado correctamente";
                    Swal.fire({
                        title:'Actualizado!',
                        text:'Editorial: ' + nomEdito,
                        icon: 'success',
                        allowOutsideClick: false
                    })
                    // Es solo estilo, tiene incompatiblidad con main.css
                    element[0].setAttribute("style", "height:2.5em !important; line-height: 0em !important; color: white !important; background-color: #008000 !important")

                    // Mediante Ajax envia la data al Controlador Mantenimiento
                    $(".swal2-confirm").click(function () {
                        $.ajax({
                            url: "/Mantenimiento/EditarEditorial?idEdito=" + idEdito + "&&nomEdito=" + nomEdito +
                            "&&direccion="+ direccion + "&&telefono=" + telefono + "&&fechaRegistro="+ fechaRegistro,
                            success: function (r) {
                                window.location = "/Mantenimiento/MantenimientoEditorial?notification=" + message;
                            }
                        })
                    })
                }
            })
            $("#nomEdito").val(response.data[0].nomEdito);
            $("#direccion").val(response.data[0].direccion);

            let element = document.getElementsByClassName("swal2-styled")
            /* Alert Fix Styles */
            for (let i = 0; i < element.length; i++) {
                if (element[i].getAttribute("style") == "display: none;") {
                }
                else {
                    element[i].setAttribute("style",
                        "height:2.5em !important; line-height: 0em !important; color: white !important")
                }
            }
            element[0].setAttribute("style", "height:2.5em !important; line-height: 0em !important; color: white !important; background-color: #f56a6a !important")
        }

        function getEliminarModal(idEdito) {
            Swal.fire({
                title: 'Eliminar',
                text: 'Deseas eliminar esta Editorial?',
                confirmButtonText: 'Eliminar',
                showCancelButton: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let message = "Se elimino correctamente";
                    Swal.fire({
                        title: 'Eliminado!',
                        text:'',
                        icon: 'success',
                        allowOutsideClick: false
                    })
                    // Es solo estilo, tiene incompatiblidad con main.css
                    element[0].setAttribute("style", "height:2.5em !important; line-height: 0em !important; color: white !important; background-color: #008000 !important")
                    $(".swal2-confirm").click(function () {
                        $.ajax({
                            url: "/Mantenimiento/EliminarEditorial?idEdito=" + idEdito,
                            success: function (r) {
                                window.location = "/Mantenimiento/MantenimientoEditorial?notification=" + message;
                            }
                        })
                    })
                }
            })
            let element = document.getElementsByClassName("swal2-styled")
            /* Alert Fix Styles */
            for (let i = 0; i < element.length; i++) {
                if (element[i].getAttribute("style") == "display: none;") {
                }
                else {
                    element[i].setAttribute("style",
                        "height:2.5em !important; line-height: 0em !important; color: white !important")
                }
            }
            element[0].setAttribute("style", "height:2.5em !important; line-height: 0em !important; color: white !important; background-color: #f56a6a !important")
        }


        // Plug-in traductor a español
        var espaniol = {
            "processing": "Procesando...",
            "lengthMenu": "Mostrar _MENU_ registros",
            "zeroRecords": "No se encontraron resultados",
            "emptyTable": "Ningún dato disponible en esta tabla",
            "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "infoFiltered": "(filtrado de un total de _MAX_ registros)",
            "search": "Buscar:",
            "infoThousands": ",",
            "loadingRecords": "Cargando...",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            "buttons": {
                "copy": "Copiar",
                "colvis": "Visibilidad",
                "collection": "Colección",
                "colvisRestore": "Restaurar visibilidad",
                "copyKeys": "Presione ctrl o u2318 + C para copiar los datos de la tabla al portapapeles del sistema. <br \/> <br \/> Para cancelar, haga clic en este mensaje o presione escape.",
                "copySuccess": {
                    "1": "Copiada 1 fila al portapapeles",
                    "_": "Copiadas %ds fila al portapapeles"
                },
                "copyTitle": "Copiar al portapapeles",
                "csv": "CSV",
                "excel": "Excel",
                "pageLength": {
                    "-1": "Mostrar todas las filas",
                    "_": "Mostrar %d filas"
                },
                "pdf": "PDF",
                "print": "Imprimir",
                "renameState": "Cambiar nombre",
                "updateState": "Actualizar",
                "createState": "Crear Estado",
                "removeAllStates": "Remover Estados",
                "removeState": "Remover",
                "savedStates": "Estados Guardados",
                "stateRestore": "Estado %d"
            },
            "autoFill": {
                "cancel": "Cancelar",
                "fill": "Rellene todas las celdas con <i>%d<\/i>",
                "fillHorizontal": "Rellenar celdas horizontalmente",
                "fillVertical": "Rellenar celdas verticalmentemente"
            },
            "decimal": ",",
            "searchBuilder": {
                "add": "Añadir condición",
                "button": {
                    "0": "Constructor de búsqueda",
                    "_": "Constructor de búsqueda (%d)"
                },
                "clearAll": "Borrar todo",
                "condition": "Condición",
                "conditions": {
                    "date": {
                        "after": "Despues",
                        "before": "Antes",
                        "between": "Entre",
                        "empty": "Vacío",
                        "equals": "Igual a",
                        "notBetween": "No entre",
                        "notEmpty": "No Vacio",
                        "not": "Diferente de"
                    },
                    "number": {
                        "between": "Entre",
                        "empty": "Vacio",
                        "equals": "Igual a",
                        "gt": "Mayor a",
                        "gte": "Mayor o igual a",
                        "lt": "Menor que",
                        "lte": "Menor o igual que",
                        "notBetween": "No entre",
                        "notEmpty": "No vacío",
                        "not": "Diferente de"
                    },
                    "string": {
                        "contains": "Contiene",
                        "empty": "Vacío",
                        "endsWith": "Termina en",
                        "equals": "Igual a",
                        "notEmpty": "No Vacio",
                        "startsWith": "Empieza con",
                        "not": "Diferente de",
                        "notContains": "No Contiene",
                        "notStartsWith": "No empieza con",
                        "notEndsWith": "No termina con"
                    },
                    "array": {
                        "not": "Diferente de",
                        "equals": "Igual",
                        "empty": "Vacío",
                        "contains": "Contiene",
                        "notEmpty": "No Vacío",
                        "without": "Sin"
                    }
                },
                "data": "Data",
                "deleteTitle": "Eliminar regla de filtrado",
                "leftTitle": "Criterios anulados",
                "logicAnd": "Y",
                "logicOr": "O",
                "rightTitle": "Criterios de sangría",
                "title": {
                    "0": "Constructor de búsqueda",
                    "_": "Constructor de búsqueda (%d)"
                },
                "value": "Valor"
            },
            "searchPanes": {
                "clearMessage": "Borrar todo",
                "collapse": {
                    "0": "Paneles de búsqueda",
                    "_": "Paneles de búsqueda (%d)"
                },
                "count": "{total}",
                "countFiltered": "{shown} ({total})",
                "emptyPanes": "Sin paneles de búsqueda",
                "loadMessage": "Cargando paneles de búsqueda",
                "title": "Filtros Activos - %d",
                "showMessage": "Mostrar Todo",
                "collapseMessage": "Colapsar Todo"
            },
            "select": {
                "cells": {
                    "1": "1 celda seleccionada",
                    "_": "%d celdas seleccionadas"
                },
                "columns": {
                    "1": "1 columna seleccionada",
                    "_": "%d columnas seleccionadas"
                },
                "rows": {
                    "1": "1 fila seleccionada",
                    "_": "%d filas seleccionadas"
                }
            },
            "thousands": ".",
            "datetime": {
                "previous": "Anterior",
                "next": "Proximo",
                "hours": "Horas",
                "minutes": "Minutos",
                "seconds": "Segundos",
                "unknown": "-",
                "amPm": [
                    "AM",
                    "PM"
                ],
                "months": {
                    "0": "Enero",
                    "1": "Febrero",
                    "10": "Noviembre",
                    "11": "Diciembre",
                    "2": "Marzo",
                    "3": "Abril",
                    "4": "Mayo",
                    "5": "Junio",
                    "6": "Julio",
                    "7": "Agosto",
                    "8": "Septiembre",
                    "9": "Octubre"
                },
                "weekdays": [
                    "Dom",
                    "Lun",
                    "Mar",
                    "Mie",
                    "Jue",
                    "Vie",
                    "Sab"
                ]
            },
            "editor": {
                "close": "Cerrar",
                "create": {
                    "button": "Nuevo",
                    "title": "Crear Nuevo Registro",
                    "submit": "Crear"
                },
                "edit": {
                    "button": "Editar",
                    "title": "Editar Registro",
                    "submit": "Actualizar"
                },
                "remove": {
                    "button": "Eliminar",
                    "title": "Eliminar Registro",
                    "submit": "Eliminar",
                    "confirm": {
                        "_": "¿Está seguro que desea eliminar %d filas?",
                        "1": "¿Está seguro que desea eliminar 1 fila?"
                    }
                },
                "error": {
                    "system": "Ha ocurrido un error en el sistema (<a target=\"\\\" rel=\"\\ nofollow\" href=\"\\\">Más información&lt;\\\/a&gt;).<\/a>"
                },
                "multi": {
                    "title": "Múltiples Valores",
                    "info": "Los elementos seleccionados contienen diferentes valores para este registro. Para editar y establecer todos los elementos de este registro con el mismo valor, hacer click o tap aquí, de lo contrario conservarán sus valores individuales.",
                    "restore": "Deshacer Cambios",
                    "noMulti": "Este registro puede ser editado individualmente, pero no como parte de un grupo."
                }
            },
            "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
            "stateRestore": {
                "creationModal": {
                    "button": "Crear",
                    "name": "Nombre:",
                    "order": "Clasificación",
                    "paging": "Paginación",
                    "search": "Busqueda",
                    "select": "Seleccionar",
                    "columns": {
                        "search": "Búsqueda de Columna",
                        "visible": "Visibilidad de Columna"
                    },
                    "title": "Crear Nuevo Estado",
                    "toggleLabel": "Incluir:"
                },
                "emptyError": "El nombre no puede estar vacio",
                "removeConfirm": "¿Seguro que quiere eliminar este %s?",
                "removeError": "Error al eliminar el registro",
                "removeJoiner": "y",
                "removeSubmit": "Eliminar",
                "renameButton": "Cambiar Nombre",
                "renameLabel": "Nuevo nombre para %s",
                "duplicateError": "Ya existe un Estado con este nombre.",
                "emptyStates": "No hay Estados guardados",
                "removeTitle": "Remover Estado",
                "renameTitle": "Cambiar Nombre Estado"
            }
        }
    </script>
}

