
@{
    ViewBag.Title = "Finish";
}

<div class="col-6 col-12-medium" style="display:flex;height:80vh;justify-content:center;align-items:center;flex-direction:column">
        <h1>GRACIAS POR SU COMPRA</h1>
        <br />
        <br />
        <button> @Html.ActionLink("<--- Seguir Comprando", "Inicio", "Home", null, null) </button>
</div>